.indexExpertiseBox{
    .ExpertiseList{
        .ExpertiseItem{
            position: relative;
            top: 0;
            &:hover{
                top: -2rem;
                &:after{
                    content: "";
                    position: absolute;
                    display: inline-block;
                    background-color: $black;
                    width: 80%;
                    height: 0.4rem;
                    bottom: -2rem;
                    border-radius: 50%;
                    left: 10%;
                    opacity: 20%;
                }
            }
            @include lg{
                position: initial;
                top: inherit;
                &:hover{
                    top: inherit;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}

.indexExperienceBox{
    dl{
        &+dl{
            border-top: 1px dashed $orange;
        }
    }
}