.indexExpertiseBox{
    .ExpertiseList{
        .ExpertiseItem{
            position: relative;
            top: 0;
            &:hover{
                top: -2rem;
                &:after{
                    content: "";
                    position: absolute;
                    display: inline-block;
                    background-color: $black;
                    width: 80%;
                    height: 0.4rem;
                    bottom: -2rem;
                    border-radius: 50%;
                    left: 10%;
                    opacity: 20%;
                }
            }
            @include lg{
                position: initial;
                top: inherit;
                &:hover{
                    top: inherit;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}

.indexExperienceBox{
    dl{
        &+dl{
            border-top: 1px dashed $orange;
        }
    }
}

.indexAboutBox{
    .iconBox{
        position: relative;
        &:before,&:after{
            content: "";
            position: absolute;
            display: inline-block;
            background-image: url(/asset/images/index/ic01.webp);
            background-size: 100px 100px;
            width: 100px;
            height: 100px;
            top: -2rem;
            right: -100px;
            @include xl{
                right: -2rem;
            }
            @include sm{
                background-size: 50px 50px;
                width: 50px;
                height: 50px;
            }
        }
    }
}