<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <!-- css -->
    <link rel="stylesheet" href="/asset/css/main.css">
    <!-- js -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/asset/js/vendors/jquery.inview.min.js"></script>
    <script src="/node_modules/slick-slider/slick/slick.min.js"></script>
    <script src="/asset/js/main.js"></script>
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google_font -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <!-- ico -->
    <link rel="shortcut icon" href="/asset/images/common/favicon.ico">
    <link rel="apple-touch-icon" href="/asset/images/common/favicon.webp">
    <!-- ogp -->
    <meta property="og:url" content="https://○○○○○○">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Document">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="Document">
    <meta property="og:image" content="○○○○○○/asset/images/common/ogp.webp">
    <!-- title -->
    <title>portfolio</title>
</head>
<body id="pagetop">

    <!-- header -->
    <header class="bg-ivory border-bottom border-1 border-orange position-fixed start-0 top-0 w-100">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="container-fluid container-lg detailInner py-4">
    
                <div class="d-lg-none">
                    <a href="jp.html" class="bg-orange text-white text-decoration-none p-3 rounded-pill d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-earth-americas"></i>
                        <span class="ps-2 lh-1">JP</span>
                    </a>
                </div>
    
                <div class="logo pe-lg-5">
                    <a class="navbar-brand text-orange fs-1 m-0 p-0" href="/">PORTFOLIO</a>
                </div>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- hamburgerMenu -->
                    <div class="hamburgerMenu"><span></span><span></span><span></span></div>
                </button>
    
                <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                    <ul class="navbar-nav align-items-center mb-4 mb-lg-0">
                        
                        <li class="nav-item pe-lg-5 mt-4 mt-lg-0">
                            <a class="nav-link" aria-current="page" href="/#about">About</a>
                        </li>
                        <li class="nav-item pe-lg-5 mt-4 mt-lg-0">
                            <a class="nav-link" href="/#experience">Experience</a>
                        </li>
                        <li class="nav-item pe-lg-5 mt-4 mt-lg-0">
                            <a class="nav-link active" href="projects.html">Projects</a>
                        </li>
                        <li class="nav-item pe-lg-5 mt-4 mt-lg-0">
                            <a class="nav-link" href="/#expertise">Expertise</a>
                        </li>
                        <li class="d-none d-lg-block">
                            <a href="jp.html" class="bg-orange text-white text-decoration-none p-3 rounded-pill d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-earth-americas"></i>
                                <span class="ps-2 lh-1">JP</span>
                            </a>
                        </li>
                    </ul>
                </div>
    
            </div>
        </nav>
    </header>

    <!-- main -->
    <main>

        <div class="container detailInner text-center">
            <div class="titleBox mb-5 pb-5 text-center fw-bold text-orange inview fadeinUp">
                <p class="fs-3">作品集列表</p>
                <h2 class="display-2 fw-bold">PRODUCTS</h2>
            </div>
            <p class="inview fadeinUp">
                這是我作為前端工程師迄今為止的作品。<br>
                包含購物網站、形象官網、企業網站、一頁式網站等各種專案。
            </p>
        </div>

        <!-- filterV1 -->
        <div id="app" class="filterV1 container detailInner pt-0">
            <p class="text-center mb-5 inview fadeinUp">\ 可以選擇分類哦～ /</p>
            <!-- categoryFilters -->
            <ul class="categoryFilters mb-5 inview fadeinUp">
                <li @click="filterProjects('all')" :class="{ 'active': currentCategory === 'all' }">All</li>
                <li v-for="category in uniqueCategories" :key="category"
                    @click="filterProjects(category)" :class="{ 'active': currentCategory === category }">{{ category }}</li>
            </ul>
            <div class="row m-auto py-md-5 mb-md-5">
                <!-- projectItem -->
                <div v-for="(project, index) in displayedProjects" :key="index" class="projectItem mb-5 inview fadeinUp col-sm-6 col-lg-4 col-xl-3 p-3">
                    <!-- projectName -->
                    <p class="projectName fs-2 fw-bold text-orange mb-2 firstLine">{{ project.name }}</p>
                    <!-- fancyBox projectImages -->
                    <div :id="`gallery${index + 1}`" class="fancyBox imageZoomHorizontal projectImages">
                        <!-- First image (visible) -->
                        <a :data-fancybox="`gallery${index + 1}`" :href="project.images[0]" data-caption="">
                            <div class="img">
                                <img :src="project.images[0]" width="" height="" alt="">
                            </div>
                        </a>
                        <!-- Hidden images -->
                        <div style="display:none">
                            <a v-for="(image, imgIndex) in project.images.slice(1)" :key="imgIndex"
                            :data-fancybox="`gallery${index + 1}`" :href="image" data-caption="">
                                <img :src="image">
                            </a>
                        </div>
                    </div>
                    <!-- projectCategories -->
                    <ul class="projectCategories mt-3">
                        <li v-for="(category, catIndex) in project.categories" :key="catIndex" class="category">{{ category }}</li>
                    </ul>
                    <!-- projectUrl -->
                    <p class="projectUrl mt-3 text-end" v-if="project.url">
                        <a :href="project.url" target="_blank">
                            連結網址
                            <i class="fa-solid fa-arrow-up-right-from-square ps-2"></i>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- Previous -->
                    <li class="page-item" :class="{ 'disabled': currentPage === 1 }">
                        <a class="page-link" @click="previousPage">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>
        
                    <!-- Page links -->
                    <li class="page-item" v-for="page in totalPages" :key="page" :class="{ 'active': currentPage === page }">
                        <a class="page-link" href="#" @click="setCurrentPage(page)">{{ page }}</a>
                    </li>
        
                    <!-- Next -->
                    <li class="page-item" :class="{ 'disabled': currentPage === totalPages }">
                        <a class="page-link" @click="nextPage">
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </main>

    <!-- pagetopBtn -->
    <div class="pagetopBtn">
        <a href="#pagetop">
            <img src="/asset/images/common/pagetop.webp" alt="pagetop" width="74" height="74">
        </a>
    </div>

    <!-- footer -->
    <footer class="border-top border-1 border-orange">
        <div class="container detailInner py-4">
            <p class="copyRight text-center fs-5">
                <small>&copy; 2024</small>
            </p>
        </div>
    </footer>

    <script src="/node_modules/@fancyapps/ui/dist/fancybox/fancybox.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/asset/js/filterV1.js"></script>
    
</body>
</html>